<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wardrobe.app" version="1.0.0">
  <name>Wardrobe</name>
  <description>
    Exchange
  </description>
  <author email="gvianot@yahoo.com">
    Gvianot
  </author>
  <icon src="src/icon.png" />
  <gap:plugin name="https://github.com/Moussawi7/Cordova-GPSLocator" />
</widget>
